    #Data ??
    Data is a piece of information

    Information
    Name -
    address
    dob-

        
    type -- class

objects --> memory allocation

    1. Numbers
        a. int
        b. Float
        c. Complex
    2. String
    3. list
    4. Tuple
    5. Dictionary
    6. Set
    7. Boolean

1. Identifiers
2. Keywords
3. Variables

# Identifiers

**Rules--**
        
        1. identifiers can be a combination of letters(a to z),(A to Z)or (0-9), _.
        2. it cannot start with a digit
        3. Keywords cannot be used as identifies
        4. we cannot use symbols
        5. we cannot use space

In [3]:
8r=98

SyntaxError: invalid syntax (<ipython-input-3-ac2bd5855a02>, line 1)

In [4]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [8]:
@a=6

SyntaxError: invalid syntax (<ipython-input-8-50785e8832b4>, line 1)

In [9]:
hello world=55 #wrong

SyntaxError: invalid syntax (<ipython-input-9-f1fa008ab82d>, line 1)

In [10]:
hello_world=55 #right

### Comment in python

In [11]:
#this is single line comment

In [12]:
"""this 
is multiple
line comment"""

'this \nis multiple\nline comment'

# Numbers

### int

In [14]:
a = 55
print(a)
print(type(a))

55
<class 'int'>

In [17]:
b = -33
print(b)
print(type(b))

-33
<class 'int'>

In [20]:
b = 57

In [21]:
print(id(a))
print(id(b))

140725152426064
140725152426128

## Float

In [22]:
a = 6.4
b = 8.2
print(a,b)
print(type(a),type(b))

6.4 8.2
<class 'float'> <class 'float'>

In [23]:
10/3

3.3333333333333335

### Complex

real+imaginary

In [24]:
y=5+2j

In [25]:
print(y)

(5+2j)

In [26]:
print(type(y))

<class 'complex'>

In [ ]:
#difference between compiler & interpreter???
#open source???
#programming language?
#IDE??

# Strings

A string combination of characters

In [1]:
a = 'Hello World'
b ="Hello_World"
c = """Hello-World"""

In [5]:
print(a);print(b);print(c)

Hello World
Hello_World
Hello-World

In [6]:
a

'Hello World'

In [7]:
print(a)

Hello World

In [8]:
#Memory Implementation

In [9]:
#By Array

**def-** 
    
    Array is a collection of items having same data type

In [10]:
s = "Hello World"

In [11]:
print(s)
print(type(s))

Hello World
<class 'str'>

In [12]:
s[0]

'H'

In [13]:
s[-1]

'd'

In [16]:
print(s[-5])

W

In [15]:
s[5]

' '

### Escape Sequence

In [17]:
s = "Hello Everyone My name is Python"

In [18]:
print(s)

Hello Everyone My name is Python

In [20]:
f = 'He said,"I am a bad boy"' #combination of inverted commas

In [21]:
f

'He said,"I am a bad boy"'

In [24]:
k = "He said,\"I am a bad boy\""

In [23]:
# / --> Forward slash
# \ --> Back slash (Escape sequence)

In [26]:
print(k)

He said,"I am a bad boy"

In [34]:
s = "Hello Everyone My name is Python"
print(s)

Hello Everyone My name is Python

In [29]:
s = "Hello Everyone\tMy name is Python"
print(s)

Hello Everyone	My name is Python

## Slicing

In [32]:
#dividing string into substring

**Syntax**

    variable[start:stop:step/direction]

In [37]:
s[6:14]

'Everyone'

In [1]:
s = "Hello World"

In [39]:
s[1:5]

'ello'

In [42]:
s[6:]

'World'

In [44]:
s[6::]

'World'

In [46]:
s[-5:-2]

'Wor'

In [47]:
s[-11:-6]

'Hello'

In [51]:
s[3:11:3]

'lWl'

In [53]:
s[::-1]

'dlroW olleH'

In [54]:
s[-4:2:-1]

'oW ol'

In [55]:
s[-2:-10:-1]

'lroW oll'

In [56]:
s[:7:-1]

'dlr'

In [57]:
s[:2:]

'He'

In [58]:
s[5:-5]

' '

In [61]:
s[2:-3:-1]

''

In [62]:
s[-11:-6:-1]

''

### Properties

1. Sequential
2. ordered
3. immutable

In [64]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [65]:
#__add__ --> dander methods or magic methods

In [67]:
s.capitalize()

'Hello world'

In [68]:
s.capitalize?

In [69]:
s.upper()

'HELLO WORLD'

In [70]:
s

'Hello World'

In [71]:
s.lower()

'hello world'

In [76]:
s.center(100,'$')

'$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$Hello World$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$'

In [77]:
s.ljust(100,'#')

'Hello World#########################################################################################'

In [78]:
s.rjust(100,'*')

'*****************************************************************************************Hello World'

In [79]:
s.count('l')

3

In [81]:
s.index(' ')

5

In [84]:
s.find('ld')

9

In [87]:
s.endswith('d')

True

In [89]:
s.startswith('H')

True

In [91]:
print(type(s.encode()))

<class 'bytes'>

In [92]:
s.isprintable()

True

In [94]:
s.isalnum()

False

In [95]:
s.isdecimal()

False

In [96]:
f = "                         Hello World                           "

In [97]:
f

'                         Hello World                           '

In [98]:
f.strip()

'Hello World'

In [99]:
f.lstrip()

'Hello World                           '

In [100]:
f.rstrip()

'                         Hello World'

In [102]:
s.split()

['Hello', 'World']

In [108]:
t = "Hello_everyone_my_name_is_Ravi"

In [110]:
t.split('_')

['Hello', 'everyone', 'my', 'name', 'is', 'Ravi']

In [111]:
#format

In [115]:
a = "Ravi"
print("Hello World My name is {}".format(a))

Hello World My name is Ravi

In [117]:
a = 11
b = 99
c = 22
print("Rice = {2}, Wheat = {1}, Flour={0}".format(a,b,c))

Rice = 22, Wheat = 99, Flour=11

In [118]:
a = "Ravi"
print(f"Hello World My name is {a}")

Hello World My name is Ravi

In [121]:
a = 11
b = 99
c = 22
print(f"Rice = {a}, Wheat = {b}, Flour={c}")

Rice = 11, Wheat = 99, Flour=22

In [122]:
s.swapcase()

'hELLO wORLD'

In [5]:
s= "Hello\tworld"
s.expandtabs(tabsize=100)

'Hello                                                                                               world'

# List

In [6]:
l = [] #empty list

In [7]:
l = [4,213,12,312,3,12,43241]
print(l)
print(type(l))

[4, 213, 12, 312, 3, 12, 43241]
<class 'list'>

In [9]:
l = [21,3,12,312,4,31,4,543,4,5,46,564,5,65,6,5,6,5] #array or homogenous list
print(l)
l1 = [2,32,13,12,4,3,4,312,4,6.5,4.4,"hello",'python','gvr'] #heterogenous or mixed list
print(l1)

[21, 3, 12, 312, 4, 31, 4, 543, 4, 5, 46, 564, 5, 65, 6, 5, 6, 5]
[2, 32, 13, 12, 4, 3, 4, 312, 4, 6.5, 4.4, 'hello', 'python', 'gvr']

# Slicing

In [10]:
#l[start:stop:step]

In [12]:
l[::4]

[21, 4, 4, 5, 6]

In [13]:
l[::-1]

[5, 6, 5, 6, 65, 5, 564, 46, 5, 4, 543, 4, 31, 4, 312, 12, 3, 21]

In [14]:
l[5:10]

[31, 4, 543, 4, 5]

## 1D list

In [40]:
l = [1,23,41,4,23,45,5,63,654,67,4,74,6,74,65,634,5,425,2]

In [16]:
print(l)

[1, 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2]

## 2D list

In [17]:
l = [[1,2,3],[4,5,6],[7,8,9]]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
l = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
]

In [19]:
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [24]:
l[0][::2]

[1, 3]

In [26]:
l[::1]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [27]:
l = ["hello","hey"]

In [29]:
l[0][2:4:1]

'll'

### 3D List

In [30]:
l = [
    [
      [1,2,3],
      [4,5,6],
      [7,8,9],
    ],
    [
        [4,5,6],
        [9,8,7],
        [3,2,1],
    ],
]

In [31]:
print(l)

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[4, 5, 6], [9, 8, 7], [3, 2, 1]]]

In [34]:
l[0][2][:2]

[7, 8]

In [38]:
l[1][0][1:]

[5, 6]

# Properties of List

1. Sequential
2. Ordered
3. Mutable

In [41]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [42]:
l

[1, 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2]

In [43]:
l.append(999)   #to add elements at the end of the list

In [44]:
l

[1, 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999]

In [46]:
l1.clear()

In [47]:
l1

[]

In [49]:
l1=l.copy()

In [50]:
l2=l

In [52]:
print(f"l = {l}\nl1 = {l1}\nl2 = {l2}")

l = [1, 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999]
l1 = [1, 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999]
l2 = [1, 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999]

In [54]:
l[0]="hi"

In [55]:
print(f"l = {l}\nl1 = {l1}\nl2 = {l2}")

l = ['hi', 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999]
l1 = [1, 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999]
l2 = ['hi', 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999]

In [60]:
l.count('hi')

1

In [61]:
l.extend([7,7,7,7,7,7])

In [63]:
print(l)

['hi', 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999, 7, 7, 7, 7, 7, 7]

In [64]:
l.append([4,5,6,7,8])

In [66]:
print(l)

['hi', 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999, 7, 7, 7, 7, 7, 7, [4, 5, 6, 7, 8]]

In [71]:
l.index([4,5,6,7,8])

26

In [72]:
l[-1]

[4, 5, 6, 7, 8]

In [73]:
l.insert(5,1000000)

In [74]:
print(l)

['hi', 23, 41, 4, 23, 1000000, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999, 7, 7, 7, 7, 7, 7, [4, 5, 6, 7, 8]]

In [75]:
l.pop()

[4, 5, 6, 7, 8]

In [76]:
print(l)

['hi', 23, 41, 4, 23, 1000000, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999, 7, 7, 7, 7, 7, 7]

In [87]:
l.pop(-6)

65

In [88]:
l

[23, 41, 4, 23, 1000000, 5, 63, 654, 67, 4, 74, 6, 74, 999, 7, 7, 7, 7]

In [89]:
l.remove(1000000)

In [90]:
l

[23, 41, 4, 23, 5, 63, 654, 67, 4, 74, 6, 74, 999, 7, 7, 7, 7]

In [91]:
l.remove(7)

In [92]:
l

[23, 41, 4, 23, 5, 63, 654, 67, 4, 74, 6, 74, 999, 7, 7, 7]

In [93]:
l.sort()

In [94]:
l

[4, 4, 5, 6, 7, 7, 7, 23, 23, 41, 63, 67, 74, 74, 654, 999]

In [95]:
l.sort(reverse=True)

In [96]:
l

[999, 654, 74, 74, 67, 63, 41, 23, 23, 7, 7, 7, 6, 5, 4, 4]

In [98]:
l1

[1, 23, 41, 4, 23, 45, 5, 63, 654, 67, 4, 74, 6, 74, 65, 634, 5, 425, 2, 999]

In [99]:
l1.reverse()

In [100]:
l1

[999, 2, 425, 5, 634, 65, 74, 6, 74, 4, 67, 654, 63, 5, 45, 23, 4, 41, 23, 1]

# Tuple

In [101]:
t = ()
print(type(t))

<class 'tuple'>

In [102]:
t1 = (1,21,43,2,43,54,543,5,43,5,43,534,5,34,5)
t2 = (3243,23,432,4,32,4,"heelo",'hey')
print(t1);print(t2)

(1, 21, 43, 2, 43, 54, 543, 5, 43, 5, 43, 534, 5, 34, 5)
(3243, 23, 432, 4, 32, 4, 'heelo', 'hey')

### properties

1. Sequential
2. ordered
3. immutable

In [105]:
t1[0:5]

(1, 21, 43, 2, 43)

In [106]:
print(dir(t1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [107]:
t1.count(5)

4

In [108]:
t1.index(5)

7

In [111]:
t1[0]="hi"

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [112]:
#dictionary consist of key value pairs
#key must me unique

In [113]:
d = {}
print(type(d))

<class 'dict'>

In [114]:
d = {'key':'value'}

In [115]:
print(d)

{'key': 'value'}

In [116]:
d1 = {'int':1,
      'float':4.6,
      'str':"hi"}

In [117]:
print(d1)

{'int': 1, 'float': 4.6, 'str': 'hi'}

In [118]:
d2 = {'int':[1,3,24,32,6,42,35,43,6,54,64,56,54,6,54,6],
      'float':[4.6,5.6,4.5,4.2,33.43,2.2,42.2,4.2,4.24],
      'str':["hi",'h','e','l','l','o']}

In [119]:
print(d2)

{'int': [1, 3, 24, 32, 6, 42, 35, 43, 6, 54, 64, 56, 54, 6, 54, 6], 'float': [4.6, 5.6, 4.5, 4.2, 33.43, 2.2, 42.2, 4.2, 4.24], 'str': ['hi', 'h', 'e', 'l', 'l', 'o']}

### methods

In [121]:
print(dir(d2))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [123]:
d1.clear()

In [124]:
d1

{}

In [127]:
d1=d2.copy()

In [128]:
d1

{'int': [1, 3, 24, 32, 6, 42, 35, 43, 6, 54, 64, 56, 54, 6, 54, 6],
 'float': [4.6, 5.6, 4.5, 4.2, 33.43, 2.2, 42.2, 4.2, 4.24],
 'str': ['hi', 'h', 'e', 'l', 'l', 'o']}

In [130]:
d1.fromkeys("Ravi","Hey")

{'R': 'Hey', 'a': 'Hey', 'v': 'Hey', 'i': 'Hey'}

In [131]:
d2.get('int')

[1, 3, 24, 32, 6, 42, 35, 43, 6, 54, 64, 56, 54, 6, 54, 6]

In [132]:
d2.get('str')

['hi', 'h', 'e', 'l', 'l', 'o']

In [133]:
d2.items()

dict_items([('int', [1, 3, 24, 32, 6, 42, 35, 43, 6, 54, 64, 56, 54, 6, 54, 6]), ('float', [4.6, 5.6, 4.5, 4.2, 33.43, 2.2, 42.2, 4.2, 4.24]), ('str', ['hi', 'h', 'e', 'l', 'l', 'o'])])

In [134]:
d2.keys()

dict_keys(['int', 'float', 'str'])

In [135]:
d2.values()

dict_values([[1, 3, 24, 32, 6, 42, 35, 43, 6, 54, 64, 56, 54, 6, 54, 6], [4.6, 5.6, 4.5, 4.2, 33.43, 2.2, 42.2, 4.2, 4.24], ['hi', 'h', 'e', 'l', 'l', 'o']])

In [137]:
d1.popitem()

('str', ['hi', 'h', 'e', 'l', 'l', 'o'])

In [138]:
d1

{'int': [1, 3, 24, 32, 6, 42, 35, 43, 6, 54, 64, 56, 54, 6, 54, 6],
 'float': [4.6, 5.6, 4.5, 4.2, 33.43, 2.2, 42.2, 4.2, 4.24]}

In [139]:
d1.pop('int')

[1, 3, 24, 32, 6, 42, 35, 43, 6, 54, 64, 56, 54, 6, 54, 6]

In [140]:
d1

{'float': [4.6, 5.6, 4.5, 4.2, 33.43, 2.2, 42.2, 4.2, 4.24]}

In [141]:
d1.setdefault('str',['hello','hi','hey'])

['hello', 'hi', 'hey']

In [142]:
d1

{'float': [4.6, 5.6, 4.5, 4.2, 33.43, 2.2, 42.2, 4.2, 4.24],
 'str': ['hello', 'hi', 'hey']}

# Set

**Defination --**
        
       Set is a collection of well Defined Objects
       
       well defined --> unique

In [144]:
s = set({})
print(type(s))

<class 'set'>

In [145]:
s1 = {2,132,32,1432,432,4,32,4,23,1,1,1,1,1,1,1,1,1,1}
print(s1)

{32, 1, 2, 132, 4, 432, 23, 1432}

In [147]:
s = {'sun','mon','tue','wed','thu','fri','sat'}
print(s) #unordered

{'tue', 'sat', 'thu', 'mon', 'wed', 'fri', 'sun'}

In [148]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}

In [149]:
print(dir(s1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [150]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [151]:
s1.intersection(s2)

{4}

In [152]:
s1.difference(s2)

{1, 2, 3}

In [153]:
s2.difference(s1)

{5, 6, 7}

In [154]:
s1.symmetric_difference(s2)

{1, 2, 3, 5, 6, 7}

In [155]:
s1.difference_update(s2)

In [156]:
s1

{1, 2, 3}

# Boolean

In [157]:
bool(1)

True

In [158]:
bool("Heelo")

True

In [159]:
bool("")

False

In [160]:
#Everything is true in python except --> False, 0 , None, {},[],"",()

In [163]:
bool((''))

False

# Quiz

In [164]:
s = "Hello World"

In [165]:
s[:-1:-1]

''

In [166]:
s[-3:-1]

'rl'

In [167]:
s[-7:-2:-3]

''

In [168]:
d = {'hello':'hi',"bye":'bye'}

In [176]:
d.setdefault('rav',12)

12

In [177]:
d

{'hello': 'hi', 'bye': 'bye', 'ravi': 1232453658797675465, 'rav': 12}